# Node
**/node_modules/
**/package-lock.json

# Godot
Game-Dev/Godot_v4.4-stable_win64.exe
**/.godot/
**/.import/
**/export.cfg
**/export_credentials.cfg
**/*.translation
**/.mono/
**/data_*/
**/mono_crash.*.json

# React
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/dist
**/dist-ssr
**/*.local